.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Set the minimum height of the container to 100% of the viewport height */
  background-color: white; /* Dark blue background */
  font-family: Consolas, monospace;
  position: relative; /* Make the container a positioned parent */
}

.App-header {
  position: fixed; /* Make the header fixed */
  top: 10%; /* Fixed position 10% from the top */
  width: 100%; /* Full width */
  text-align: center; /* Center the text horizontally */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (max-width: 600px) {
  .App-logo {
    height: 20vmin;
  }
}